<h1>Movies#edit</h1>
<%= render partial: "form", locals: {video_path: user_movie_path, upload_type: "Edit Upload", model: @movie} %>
<%= link_to "Delete", user_movie_path(@movie), method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger mt-3"%>
