<h1> <%=@user.name%> </h1>
<h1> <%=@user.email%> </h1>
<h1> <%=current_user.inspect%> </h1>
<h1> <%=session[:current_user_id].inspect%> </h1>


<%# <% if @user.avatar.nil? %>
    <%#image_tag(@user.avatar)%>
<%# <% end %>

