<li class="nav-item ">
  <a class="nav-link disabled" href="#">Become a host</a>
</li>

<% if logged_in? %>
  <li class="nav-item">
    <%= link_to "Log out", '/logout', method: 'delete', class: "nav-link" %>
  </li>
<% else %>
  <li class="nav-item">
    <%= link_to "Sign up", signup_path, class: "nav-link" %>
  </li>

  <li class="nav-item">
    <%= link_to "Log in", '/login' , class: "nav-link"%>
  </li>
<% end %>