
<% if logged_in? %>
  <li class="nav-item">
    <%= link_to "Welcome #{current_user.username}", user_path(current_user), class: "nav-link" %>
  </li>
  <li class="nav-item">
    <%= link_to "Log out", '/logout', method: 'delete', class: "nav-link" %>
  </li>
<% else %>
  <li class="nav-item">    
    <%= link_to "Sign up", signup_path, class: "nav-link" %>
  </li>

  <li class="nav-item">
    <%= link_to "Log in", '/login' , class: "nav-link"%>
  </li>
<% end %>