// Place all the styles related to the statics controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
#search {
  width: 400px;
  height: 45px;
}

.movie-thumbnails {
  max-width: 300px;
}



